<div class='sectionHeader blueHeader' style='padding-bottom: 5px; font-size: 1em;'>
      <div style='float: left; padding-top: 5px; padding-left: 20px;'><%=title%></div>
   <div style='float: right; padding-right: 10px;'>
	  <a href='#' class='lbAction' rel='deactivate'>
	<%=image_tag('list_editor/24-em-cross.png', :plugin => 'list_editor', :style => 'height: 24px; width: 24px;', :title => 'Dismiss this dialog window')%></a>
   </div>
</div>
<div class="greenBox" style='height: 3px;'>
	</div>
